<Directory "/essai/to-do-list/views/todo.ejs">

<IfModule mod_headers.c>
Header always set X-Content-Type-Options "nosniff"
</IfModule>

Content-Type: text/html; charset=utf-8;
AddType application/xhtml+xml .xhtml;
AddType text/css .css;
AddType text/javascript .js;
AddType image/png .png .jpeg .jpg;

</Directory>
