<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="http://localhost/IMG/favicon.ico">
    <link rel="stylesheet" type="text/css" href="http://localhost/node_modules/express/public/style.css">
    <script src="http://localhost/node_modules/express/public/todo-list.js" type="text/javascript"></script>
    <title>Todo Liste</title>
</head>
<body>
    <h1>Ma to-do liste</h1>
    <div id="todo-table">
        <form action="#" method="POST" enctype="multipart/form-data">
            <input type="text" name="item" placeholder="Nouvelle tâche" required>
            <button type="submit">Ajouter</button>
        </form>
        <ul>
            <% for(var i = 0; i < todos.length; i++){ %>
                <li><%= todos[i].item %></li>
                <% } %>
        </ul>
    </div>
       
    <script src="http://localhost/node_modules/jquery/dist/jquery.min.js"></script>
</body>
</html>