<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    <title>Todo Liste</title>
</head>
<body>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <div id="todo-table">
        <form action="#" method="post">
            <input type="text" name="item" placeholder="Nouvelle tâche" required>
            <button type="submit">Ajouter</button>
        </form>
        <ul>
            <li>Tâche n°1</li>
            <li>Tâche n°2</li>
            <li>Tâche n°3</li>
        </ul>
    </div>
</body>
</html>