<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>Todo Liste</title>
</head>
<body>
    <h1>Ma to-do liste</h1>
    <div id="todo-table">
        <form action="#" method="POST" enctype="multipart/form-data">
            <input type="text" name="item" placeholder="Nouvelle tâche" required>
            <button type="submit">Ajouter</button>
        </form>
        <ul>
            <% for(var i = 0; i < todos.length; i++){ %>
                <li><%= todos[i].item %></li>
                <% } %>
            </ul>
        </div>
        <style>
        h1{
            color:white;
            text-align: center;
            text-shadow: 1px 1px 2px white;
        }

        body{
            background-color: grey;
        }

        #todo-table{
            text-align: center;
            border: 5px solid black;
            padding-top: 5%;
            padding-bottom: 5%;
            width: 30%;
            margin-left: 35%;
            background-color: rgb(54, 54, 54);
        }

        ul{
            border: 2px solid white;
            width: 40%;
            margin-left: 20%;
            background-color: rgb(155, 153, 153);
        }

        li{
            padding: 10%;
        }

        li:hover{
            text-decoration-line:line-through red;
        }

        ul li::marker{
            color: white;
            font-size: large;
        }
    </style>
    <script src="/views/JS/todo-list.js"></script>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
</body>
</html>